#intro{
  h1{
    color: #719dca;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 22em;
    margin-top: 3em;
  }
  h2{
    font-size: 1em;
    color: #899394;
    margin-left: 35em;
    margin-top: 1em;
  }
  i{
    color: #fdc55f;
    font-size: 2em;
  #row1{p{
    color: #495759;
    font-size: 0.55em;
    font-weight: bold;
    margin-left: 2em;
    text-transform: uppercase;
    margin-top: -1.8em;
  }}

}
}
