body{

}
#landing{
  position:relative;
div{  h1{
    position: absolute;
    font-family: 'Pacifico', cursive;
    color: #bd9046;
    font-size: 3em;
    left: 2em;
    top: 2em;
       }

  h2{
    position: absolute;
    color: #FFF;
    font-size: 3em;
    left: 8em;
    top: 8em;
       }
  h3{
    position: absolute;
    color: #FFF;
    font-size: 1.4em;
    left: 25em;
    top: 20em;


       }
    a{
    text-transform: uppercase;
    background-color:#719dca;
    color: #FFF;
    margin-left: 35em;
    margin-top: -58em;
    padding: 0.8em 3em;
    }
    }
    nav{
      margin-left: 10em;
      position: absolute;
      top:3em;
      right:8em;
        a{
          color:#FFF;
          margin-left: 2em;
        }

    }

     }
